//
// breadcru-3b.scss
//

:root {
    --breadcrumb-item-color: var(--primary);
}

[data-dark-mode] {
    --breadcrumb-item-color: var(--primary-300);
}

.breadcrumb .breadcrumb-item a {
    color: var(--breadcrumb-item-color);
}
.breadcrumb .breadcrumb-item.active {
    color: var(--text-muted);
}

.breadcrumb {
    /* ... 他のスタイル ... */
    font-size: var(--bs-breadcrumb-font-size, 14px);  /* 1remはフォールバック値の例 */
  }

@media (max-width: 1199px) {
    .breadcrumb {
        --bs-breadcrumb-padding-x: 0.7rem;
    }
}